Table of contents
##  O livro base deste grupo de estudos é: A linguagem de programação GO, e o primeiro cap. do livro é um tutorial.
# link para o source code do tutorial: https://github.com/adonovan/gopl.io/tree/master/ch1
# link para o livro: http://www.gopl.io/
